.nosotros-container-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  padding: 2rem;
  max-width: 1100px;
  width: 100vw;
  margin: 0 auto;
}

.seccion {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}

.nosotros-container-informacion .mitad-seccion {
  display: flex;
  gap: 12rem;
  width: 100%;
}
.nosotros-container-informacion .mitad-seccion:nth-child(3) .ilustracion {
  order: 2;
}
.nosotros-container-informacion .mitad-seccion p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
}
.nosotros-container-informacion .mitad-seccion .ilustracion {
  width: 30%;
}

.contenedor-titulo-descripcion {
  display: flex;
  flex-direction: column;
}
.contenedor-titulo-descripcion h2 {
  font-size: 2em;
  color: #333;
  width: 70%;
  font-family: Gloria Hallelujah;
}
.contenedor-titulo-vision .ilustracion {
  width: 90%;
}

.ilustracion {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seccion h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.seccion p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.8;
}

/* Galería de fotos */

.galeria .fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.equipo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background: linear-gradient(white, #edededed, #edededed);
}

.titulo-equipo {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-family: Gloria Hallelujah, cursive;
}

.galeria-equipo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  max-width: 800px;
  padding-bottom: 5rem;
}

.miembro {
  position: relative;
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  transform: rotate(2deg);
  box-shadow: 3px 3px 10px rgb(180, 180, 180);
}
.miembro:nth-child(1) {
  transform: rotate(10.88deg) translateY(-1.5rem);
}
.miembro:nth-child(2) {
  transform: rotate(1.48deg);
}
.miembro:nth-child(3) {
  transform: rotate(-16.93deg) translateY(-1.6rem);
}
.miembro:nth-child(4) {
  transform: rotate(2.45deg);
}
.miembro:nth-child(5) {
  transform: rotate(-6deg) translateY(-1rem);
}

.foto-miembro {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.nombre-miembro {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  font-family: Gloria Hallelujah, cursive;
  color: black;
  font-size: 0.7rem;
}
