/* src/App.css */
.app-container {
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  /* Oscurece el video para mejor contraste */
  z-index: 0;
  /* Coloca el video detrás de todo */
}

* {
  cursor: url("./assets/Group.png"), auto !important;
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
.clickable {
  cursor: url("./assets/Group.png"), pointer !important;
}

input,
textarea,
[contenteditable="true"] {
  cursor: url("./assets/Group.png"), text !important;
}
